/*--------------Fonts---------------
font-family: 'Monofett', cursive;
font-family: 'Ubuntu', sans-serif;
-----------------------------------*/

@font-face {
    font-family: 'Ubuntu';
    src: url("/static/ubuntu.woff") format('woff')
}

@font-face {
    font-family: 'Monofett';
    src: url("/static/monofett.woff") format('woff')
}


.background{
    background-color:#CCCCCC;
    border-top:5px solid;
    border-color:black;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
    }


#header{
    color:#87D9FA;
    border-top: 1px solid;
    border-bottom: 10px solid;
    border-color:#00B7FF;
    font-size:85px;
    font-family: 'Monofett', cursive;
    padding:35px;
    text-align:center;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    background-color:#1F60B4;
    }

/* para-a link color */

.thumb{
    width:80%;
    height:auto;
    display:block;
    }

.column{
    display:inline-block;
    vertical-align:top;
    }

p {
    margin:0;
    }

/*---------------Navigation---------------*/
#menusurround{
    background-color:none;
    margin:auto auto 15px auto;
    padding-top:6px;
    max-width:800px;
    text-align:left;
    }

.menubutton{
    color:black;
    background-color:#E4A846;
    margin-left:5px;
    padding:7px;
    font-size:15px;
    text-decoration:none;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    }

.menubutton:hover{
    color:#E4A846;
    background-color:#00B7FF;
    }
/*--------------Main stuff---------------*/

#bodywrapper{
    padding:0 25px 0 25px;
    width:850px;
    margin:0 auto 0 auto;
    }

#para-a{
    background-color:gray;
    font-size:25px;
    padding:17px;
    border-radius:20px 20px 0 0;
    overflow:auto;
    text-align:left;
    }

#para-b{
    text-align:left;
    background-color:#EBEBEB;
    padding:17px;
    border-radius:0 0 20px 20px;
    text-align:left;
    margin:0 0 15px 0;
    }

/*---------- Bottom Category + Pubdate bar --------------*/

.bottom_bar{
    color:gray;
    margin-top:10px;
    }

.bottom_bar:after{
    content: "";
    display: table;
    clear:both;
    }

.pub_date{
    display:inline-block;
    float:left;
    }
.category{
    float:right;
    text-align:right;
}

.category a{
    text-decoration:none;
    color:inherit;
    }

    
/*---------------Listing---------------*/
#listing li {
    margin:15px;
}

#listing li a {
    text-decoration:none;
}

#listing li .dir {
    color:red;
}

#listing li .file {
    color:blue;
}

#listing li .size {
    float:right;
}

/*---------------Projects---------------*/

.project{
    width:400px;
    display:block;
    vertical-align:top;
    margin:10px;
    color:black;
    }

.project a{
    text-decoration:none;
    color:inherit;
    }



#gallery .image{        /* gallery grid */
    display:inline-block;
    margin:15px;
    width:45%;
    vertical-align:top;
    }

#gallery .image img{
    width:100%;
    }

.desc{
    margin:5px;
    word-wrap:break-word;
    text-align:center;
    }

.status{
    float:right;
    border-radius:10px;
    background-color:lightgray;
    padding:5px;
    }
