<div id="menusurround">
<a class="menubutton" href="http://evanw.org/">Home</a>
<a class="menubutton" href="http://evanw.org/downloads">Downloads</a>
<a class="menubutton" href="http://evanw.org/projects">Projects</a>
<a class="menubutton" href="http://evanw.org/armagetron">Armagetron</a>
<a class="menubutton" href="http://github.com/evidlo">Code</a>
<a class="menubutton" href="http://evanw.org/cam">Live Cam</a>
<a class="menubutton" href="http://evanw.org/information.php">Info</a>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25109327-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
